// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$warm-yellow: #fdbb30;
$baby-white: #FCFCFC;
$persian-green : #2bad9e;
$dark-persian-green: #249689;
$red-stock: #c81912;
$light-yellow: #ffe196;
$inventory-gray: #d8d8d8;

