.devise {
  padding-left: 0px;
}

.landing-page {
background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
height: 100%;
display: flex;
  h1 {
    flex: 0 0 50%;
  }
}

.signin-form-landing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 50%;
  padding: 40px;
  > div {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
  }
}

.signin h2{
  text-align: center;
  color: black;
}

.title-landing {
color: white;
padding: 15px;
}

.bott {
  margin: 20px;
  h2 {
    padding: 30px;
    text-align: center;
    color: $persian-green;
    font-size: 32px;
    img {
    height: 40px;
    width: 38px;
  }
  }
}

.company-descritpion {
  display: flex;
  justify-content: space-around;
  // align-items: center;
}


//cards info

.card-description {
  display: block;
  background-color: $baby-white;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  img {
    // width: 50px;
    height: 80px;
    padding: 8px;
  }
}

.footer {
  background: $baby-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 20px;
  color: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

}
.footer-links {
  display: flex;
  align-items: center;
}
.logo {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.logo:hover {
  opacity: 1;
  color: $persian-green;
}
.footer-copyright {
  font-size: 12px;
}

.content-wrapper {
  min-height: calc(100vh - 75px - 55px);
}






//responsive


@media (max-width: 992px){
  .card-food-truck{
    grid-template-columns: repeat(2,1fr);
}
}

@media (min-width: 100px) and (max-width: 575px){
.card-food-truck {
    grid-template-columns: 1fr;
}
}

@media (min-width: 100px) and (max-width: 575px) {
  .card-food-truck {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .card-food-truck {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .card-food-truck {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
