
 <%= simple_form_for restaurant_orders_path, method: 'get' do |f| %>
    <div class="field">
        <div class="champ">
        <%= f.input :supplier, placeholder: "Fournisseur", label: "Recherche par fournisseur"%>
        </div>
      <% end %>
    </div>


