<div class='searchform'>
    <%= form_tag restaurant_orders_path, method: 'get' do %>
      <div class="field">
        <%= label_tag "Recherche par fournisseur" %>
        <%= text_field_tag 'supplier' %>
      </div>
    <% end %>
  </div>

