 <div class="sidebar">
      <%= link_to "Gérer mes stocks",  restaurant_inventory_items_path(@restaurant), class: "side-link" %>
      <%= link_to "Gérer mes commandes", "#", class: "side-link" %>
      <%= link_to "Suivre mes commandes", restaurant_orders_path(@restaurant), class: "side-link" %>
    </div>

