 <div class="sidebar">
      <%= link_to "Gérer mes stocks", "#", class: "side-link" %>
      <%= link_to "Gérer mes commandes", "#", class: "side-link" %>
      <%= link_to "Suivre mes commandes", restaurant_orders_path(:restaurant_id), class: "side-link" %>
    </div>
