<div class="wrapper">
  <nav class="sidebar">

    <div class="sidebar-header">
      <h2>  </h2>
    </div>
        <div>
          <ul class="list-unstyled components">
            <li id="dashboard" class="active">
              <i class="fas fa-poll mr-2"></i>
              <%= link_to "Mon tableau de bord", root_path(@restaurant), class: "side-link" %>
            </li>
            <li id="order">
              <i class="fas fa-shopping-cart mr-2"></i>
                <%= link_to "Vérifier mes stocks et passer des commandes", restaurant_inventory_items_path(@restaurant), class: "side-link" %>
            </li>
            <li id="follow-up">
              <i class="fas fa-tasks mr-2"></i>
                <%= link_to "Suivre mes commandes", restaurant_orders_path(@restaurant), class: "side-link" %>
            </li>
          </ul>
        </div>
<!--        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </button> -->
</nav>

  <div id="content">
  <div>

</div>





