<div class="wrapper">
  <nav id="sidebar">

    <div class="sidebar-header">
      <h3>Marius & Lucien</h3>
    </div>
        <div>

          <ul class="list-unstyled components">
            <li class="active">
              <%= link_to "Gérer mes stocks", restaurant_inventory_items_path(:restaurant_id), class: "side-link" %>
            </li>
            <li>
                <%= link_to "Gérer mes commandes", "#", class: "side-link" %>
            </li>
            <li>
                <%= link_to "Suivre mes commandes", restaurant_orders_path(@restaurant), class: "side-link" %>
            </li>
          </ul>
        </div>
      <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </button>
  </nav>

  <div id="content">
  <div>
</div>

