<div class="card-product-header">
  <div class="card-product-num-header">
    <h2> # </h2>
  </div>
  <div class="card-product-supplier-header">
    <h2> Fournisseur </h2>
  </div>
  <div class="card-product-total-header">
    <h2> Total </h2>
    </div>
  <div class="card-product-action-header">
   <h2> Action </h2>
  </div>
</div>

