<div class="container">

  <h1>Vos commandes</h1>

  <%= render 'shared/searchform' %>

  <div class="around">
    <table class="table">
      <thead>
        <tr class="col-name text-center">
          <th scope="col">#</th>
          <th scope="col">Fournisseur</th>
          <th scope="col">Total</th>
          <th scope="col">Statut</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
        <tbody>
          <tr class="text-center">
            <th scope="row"><%= order.order_number %></th>
            <td class="row-content"><%= order.supplier.name %></td>
            <td class="row-content"><%= order.total %> €</td>
              <% if order.delivered %>
              <td >Livrée</td>
              <% else %>
              <td> En attende de livraison</td>
              <% end %>
            <td class="row-content"><i class="fas fa-arrow-down"></i></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>


