
<div class="contaier">

  <nav id="tab-nav">
      <span class="tabnav">Tab One</span>
      <span class="tabnav">Tab Two</span>
      <span class="tabnav">Tab Three</span>
    </nav>

    <!-- [CONTENTS] -->
    <!-- Must have the corresponding text block -->
    <div id="tab-contents">
      <div class="tabtxt">
        Whatever modified handbook dictates a chase. The unusable ghost warps the hypothetical product.
        The connector concerns the imprisoned stamp. The chemical talks next to the raid.
      </div>
      <div class="tabtxt">
        The egg fumes? The servant prefaces the fan next to the hundred cabinet. A leather spins.
        Above his racing chalk reverts the civilian glory. Does an adjacent number ray the guideline?
      </div>
      <div class="tabtxt">
        A hand trips. Why does the friend dance? A player copes under a tough!
        The squashed railroad intervenes in the criterion. When can a lake hesitate?
      </div>
    </div>

  <%= render 'shared/cards_order' %>


</div>






























