<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.mariusetlucien.fr/i/marius-et-lucien-373541/3/4/8/1/5/9/1/5/0/3/2/5/5/1508396949_300/85c7d11c4fd69a9fbe33602733b3f86b.clandscape_hd.jpg);">
  <div class="container">
    <h1>Bonjour <br> Pierre <br>Fersing</h1>
  </div>
</div>

<div class="charts-container">
  <div class="key-perf big-card-product">
    <canvas id="kpis"></canvas>
  </div>
  <div class="charts-second">
    <div class="miniature chart-product">
      <canvas id="bar-chart-grouped"></canvas>
    </div>
    <div class="sales-recipes chart-product">
      <canvas id="doughnut-chart" ></canvas>
    </div>
  </div>
</div>
