.alertskpis {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.alerte-stocks-top5 {
  h2 {
    font-size: 16px;
    margin-bottom: 0px;
    color: white;
    font-weight: inherit;
    background-color: $red-stock;
    padding: 6px;
    width: 340px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  h3 {
    font-size: 16px;
    margin-bottom: 0px;
    color: white;
    font-weight: inherit;
    background-color: $dark-persian-green;
    padding: 6px;
    width: 340px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  h4 {
    font-size: 16px;
    margin-bottom: 0px;
    color: white;
    font-weight: inherit;
    background-color: #FFC65A;
    padding: 6px;
    width: 340px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
}

.flash {
  padding: 16px 24px;
  // display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 1px;
  margin: 0px 8px 8px 0px;
}

.flash-success {
  border: 2px solid $dark-persian-green;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid $red-stock;
  ol {
    font-style: italic;
  }
}

.warning-logo img {
  height: 16px;
  width: 16px;
  vertical-align: center;

}

.remarque-logo img {
  height: 16px;
  width: 16px;
  vertical-align: center;
}

.dash-article-photo img {
 height:38px;
 width:40px;
 border-radius: 50%;
}

.card-dash {
 display: flex;
 // vertical-align: center;
 justify-content: space-between;
 align-items: center;
 width:260px;
 height:50px;
 text-align: center;
 background-color: white;
 border-radius: 4px;
 box-shadow: 0 0 8px rgba(0,0,0,0.2);
 margin-right: 8px;
 margin-bottom: 6px;
 padding: 8px;
}

.dash-article-unit {
 color: #B61600;
 font-weight: bold;
 display: flex;
 align-items: center;
}

.dash-arrow-photo img {
  height: 22px;
  width: 20px;
  vertical-align: bottom;
  position: relative;
  padding-left: 4px;
}

.title-stockless {
  position: relative;
}

.cards-dash-list {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.ventes {

  text-align: left;
}

.attention {
  text-align: left;
}
