.charts-container{
  display:flex;
}
.charts-second{
  padding-left: 99px;
}

.key-perf{
  width:750px;
  margin-left: 30px;
}

.sales-recipes,
.miniature {
  width: 350px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 350px;
  margin-bottom: 30px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.chart-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 16px;
}


.big-card-product {
  overflow: hidden;
  padding: 0px 30px;
  height: 376px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 10px;
}
