.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.button-modal {
  color: #18A999;
  font-size: 12px;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align:center;
  justify-content: center;
  margin-bottom: 0px;
  transition: opacity 0.3s ease;
  padding: 10px 8px;
  border: 1px solid #18A999;
  width: 100%;

  &:hover {
    color: #18A999;
  }
}


.modal-content {
border-radius: 5px;
width: 100%;
}

.modal-header {
  text-align: center;
}

.modal-body {
  text-align: left;
  display: flex;
  h6 {
    margin-bottom: 0px;
    margin-top: 5px;
    }
}


.field {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
}


