
// to validate

.button-modal {
  color: #18A999;
  font-size: 12px;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align:center;
  justify-content: center;
  margin-bottom: 0px;
  transition: opacity 0.3s ease;
  padding: 10px 8px;
  border: 1px solid #18A999;
  width: 100%;
  margin-bottom: 15px;

  &:hover {
    color: #18A999;
  }
}


.modal-content {
border-radius: 5px;
width: 130%;
}

.modal-header {
  text-align: center;
  border-bottom: none;
}

.modal-body {
  text-align: left;
  display: flex;
}

.modal-field {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
}

.order-product {
  width: 100%;
}

.line {
  margin-bottom: 12px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}

.details {
  width: 100%;
}

.total-order {
  border-top: solid 1px;
  margin-top: 10px;
  text-align: right;
  padding: 10px;

}

.details {
width: 100%;
font-size: 14px;
}
