.navbar-lewagon {
  justify-content: space-between;
  background: $baby-white;
  height: 10vh;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
  font-family: 'Karla', ;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 24px;
}

#logo-marius {
  justify-content: center;

}
