#global-container {
  width: 100em;
  position: relative;
}

.shopping {
  width: 35%;
  height: 35%;
  top: 0;
  right: -200%;
  position: absolute;
  background: white;
  box-shadow: -2px 3px 24px black;
  z-index: 50;
}

.active {
  right: 15%;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  background: #4BAD9E;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.order-items {
  width: 100%;
  margin-left: 24px;
}

#total {
  border-bottom: solid 1px;
}

#grand-total {
  font-weight: bold;
  font-size: 24px;
}

.cd-cart-total p {
  position: absolute;
  font-size: 32px;
  border-width: 2px;
  bottom: 0;
  right: 0;
}
.cd-cart-total {
  text-align: right;
  margin-top: 32px;
}

.order-btn {
   position: relative;
   border-radius: 14px;
}

#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}

// basket on top right of inventory table
.mybasket {

  background-color: $persian-green;
  color:$baby-white;
  margin: 10px;
  padding: 12px;
  width: fit-content;
  float: right;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position:relative;

    &:hover {
      background-color: $dark-persian-green;
    }


}

.mybasket p {
  font-size: 16px;
  margin-bottom: 0px;
  margin-right: 10px;

    &:hover {
      font-weight: bold;
      text-decoration:none;
      color: white;

    }


}

.mybasket i {
  font-size: 18px;
  margin-bottom: 0px;
  text-align: center;

  &:hover {
  text-decoration:none;

  }
}


