// .around {
//   background-color: $baby-white;
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   width: 800px;
//   .table {
//   width: 800px;

//   }
// }

td {
  height:100px;
}

th {
  height:100px;
}

.table {
background-color: white;
width: 500px;

}

// .row-content {
//   padding: 0px !important;
//   margin-bottom: 0px !important;
//   padding-top: 15px !important;

// }

.validate-btn {
  margin-bottom: 10px !important;

}

.col-name {
background-color: $persian-green;
opacity: 1;

}


.column {
background-color: $persian-green;
opacity: 0.7;
color: $baby-white;
border-radius: 10px;
}



.row-table {
  padding: 0px 5px 5px 10px;
}


.headline {
background-color: $baby-white;
font-size: 12px;
color: $persian-green;

}

.product-list {
  font-size: 12px;
}

.order_index {

}

.header {
  background-color: #eaeaea;
  text-align: center;
}


.table-fixed tbody {
    overflow-y: visible;

}



