#tab-nav {
  background: #333;
  width: 900px;
  margin-left: 40px;
  margin-top: 40px;
}
#tab-nav span.tabnav {
  display: inline-block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#tab-nav span.active {
  background: #a03b31;
}

/* [CONTENTS] */
#tab-contents {
  padding: 15px;
}
#tab-contents div.tabtxt {
  display: none;
}
#tab-contents div.active {
  display: block;
}
