.field {
  background: $baby-white;
  color: $persian-green;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 250px;
}

.suppsearch:focus {
border: 1px solid;
box-shadow: none;
}

.suppsearch {
color: $persian-green;
border-radius: 20px;
border: 0px;
width: 250px;

}
