<body class="foo">
  <header>
    <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
  </header>

<!-- nav bar des commandes par fournisseurs -->
  <nav id="main-nav">
    <ul class="list-inline tabs-underlined d-flex">
      <li>
        <a href="#" class="tab-underlined active">Commande n°1</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Commande n°2</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Commande n°3</a>
      </li>
    </ul>
  </nav>


  <div id="cd-shadow-layer"></div>

  <div id="cd-cart">
    <h2>Cart</h2>
    <ul class="cd-cart-items">
      <li>
        <span class="cd-qty">1x</span> Product Name
        <div class="cd-price">$9.99</div>
        <a href="#0" class="cd-item-remove cd-img-replace">Remove</a>
      </li>
    </ul> <!-- cd-cart-items -->

    <div class="cd-cart-total">
      <p>Total <span>$39.96</span></p>
    </div> <!-- cd-cart-total -->
  </div> <!-- cd-cart -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Gem jQuery -->
</body>
